@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

// VARIABLES

// Colors
$display-color: #333a4d;
$output-color: #ff9100;
$formula-color: white;
$button-font-color: black;
$button-border-color: grey;
$button-back-color: rgba(245, 245, 245, 0.9);
$operator-back-color: #f5900c;

// DIMENSIONS
$border-radius: 0.75rem;
$font: "Quicksand", sans-serif, Helvetica, "Lucida Sans";
$button-height: 4rem;
$button-width: 5rem;
$two-span-width: 10rem;
$two-span-height: 8rem;

body {
  font-family: $font;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}

.calculator {
  height: 30rem;
  width: 20rem;
  border-radius: $border-radius;
  background-color: $display-color;
}

.display-wrapper {
  height: 10rem;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  max-width: 100%;
  #display-screen {
    height: 100%;
    text-align: right;
    margin-right: 0.5rem;
    font-size: 0;
    display: flex;
    flex-direction: column;
    .formula {
      font-size: 1.5rem;
      height: 2rem;
      color: $output-color;
      p {
        padding-top: 0.5rem;
      }
    }
    .output {
      font-size: 3rem;
      color: $formula-color;
      p {
        padding-top: 0.75rem;
      }
    }
  }
}

.buttons {
  height: 20rem;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  button {
    height: $button-height;
    width: $button-width;
    border: 1px solid $button-border-color;
    border-radius: 0;
    position: relative;
    font-family: $font;
    font-weight: bold;
    color: $button-font-color;
    font-size: 1.25rem;
    outline: none;
    background-color: $button-back-color;
    &:hover {
      opacity: 0.9;
    }
  }
  #clear {
    background-color: rgb(221, 34, 34);
    color: white;
  }
  .two-span {
    width: $two-span-width;
  }
  .operator {
    background-color: $operator-back-color;
  }
  #zero {
    bottom: 2rem;
    border-bottom-left-radius: $border-radius;
  }
  #decimal {
    bottom: 2rem;
  }
  #equals {
    height: $two-span-height;
    bottom: 4rem;
    border-bottom-right-radius: $border-radius;
  }
}

footer {
  font-size: 1.25rem;
  font-weight: bold;
  padding-top: 1.5rem;
  text-align: center;
  a {
    text-decoration: none;
    color: blue;
    &:hover {
      text-decoration: underline;
    }
  }
}
