@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap");

// VARIABLES

// Colors
$display-color: black;
$output-color: orange;
$formula-colour: white;

// DIMENSIONS
$border-radius: 0.75rem;
$font: "Quicksand", sans-serif, Helvetica, "Lucida Sans";
$button-height: 4rem;
$button-width: 5rem;
$two-span-width: 10rem;
$two-span-height: 8rem;

body {
  font-family: $font;
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  height: 100vh;
}

.calculator {
  border: 2px solid;
  height: 30rem;
  width: 20rem;
  border-radius: $border-radius;
  background-color: $display-color;
}

.display-wrapper {
  height: 10rem;
  border-top-left-radius: $border-radius;
  border-top-right-radius: $border-radius;
  #display {
    height: 100%;
    text-align: right;
    margin-right: 0.5rem;
    font-size: 0;
    display: flex;
    flex-direction: column;
    .output {
      font-size: 1.5rem;
      height: 3.5rem;
      color: $output-color;
      p {
        padding-top: 0.5rem;
      }
    }
    .formula {
      font-size: 2rem;
      height: 6.5rem;
      color: $formula-colour;
      p {
        padding-top: 1rem;
      }
    }
  }
}

.buttons {
  height: 20rem;
  border-bottom-left-radius: $border-radius;
  border-bottom-right-radius: $border-radius;
  // Below are placeholders (remove)
  background-color: white;
  button {
    height: $button-height;
    width: $button-width;
    border-radius: 0;
    position: relative;
  }
  .two-span {
    width: $two-span-width;
  }
  #zero {
    bottom: 2rem;
  }
  #decimal {
    bottom: 2rem;
  }
  #equals {
    height: $two-span-height;
    bottom: 4rem;
  }
}
